body{
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header{
  background: #1e3a8a;
  color: white;
  padding: 20px;
  text-align: center;
}

.quote{
  font-style: italic;
  color: #ffd700;
}

.admin-box{
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

input, textarea{
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button{
  background: #1e3a8a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#posts{
  margin: 20px;
}

.post{
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid #1e3a8a;
}
